@font-face {
    font-family: 'Roboto';
    font-weight: normal;
    font-style: normal;
    src: url('./assets/fonts/Roboto-Regular.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'Roboto';
    font-weight: lighter;
    font-style: italic;
    src: url('./assets/fonts/Roboto-LightItalic.ttf') format('truetype');
  }
:root{
    /* Typography */
        --font-family: 'Roboto', sans-serif;

        /*Hero Section */

            --hero-main-text-font-size: 48px;
            --hero-main-text-font-weight:bolder;

            --hero-secondary-text:18px;

        /*Header Section */

            --header-link-font-size:18px;
            --header-logo-font-size:24px;


        /* Info Section */
            --info-section-header-font-size:36px;
            --info-section-header-font-weight:bolder;

        /*Quote Section */
            --quote-section-font-size:18px;
            --quote-section-font-style: 'Roboto-Light-Italic';


    /* Background Colors */
        --dark-bg-color: #1F2937;
        --quote-section-bg-color:#E5E7EB;

    /*Hero Section */

        --about-hero-main-text-color:#1F2937;
        --hero-secondary-text-color:#E5E7EB;

    /*Header Section */

        --header-link-text-color:#E5E7EB;
        --header-logo-text-color:#F9FAF8;   

    /* Info Section */
        --info-section-header-text-color:#1F2937;

    /*Quote Section */
        --quote-section-text-color:#1F2937;
    
    



    /* Button */
        --button-color:#3882F6;
}


  /* Global Styles */

    *, *::before, *::after {
        box-sizing: border-box;
        margin:0;
        padding:0;
    }


    button{
        font:inherit;
    }
    body {
        font-family: var(--font-family);
        min-height: 100vh;
        line-height: 1.5;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        overflow-x:hidden;
    }
    
    main {
        min-height: 100vh;
        display: flex;
        width:100%;
        flex-direction: column;
        justify-content:center;
        align-items: center;
    }
    
    header {
        background-color: var(--dark-bg-color);
        color: var(--header-link-text-color);
        padding: 10px 0;
    }

    span{
        font-weight:700;
    }
    
    .container {
        width: 100%;
        max-width: 75rem
    }
    
    .container-wide {
        width: 100%;
        max-width: 100dvw;
    }
    
    
    /* Header Section */

    /* Navbar */
  
        .navbar {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            height:100%;
            width:100%;
        }
        
        .navbar-links {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: flex-start;
            width: 100%;
        }
        
        .navbar-logo {
            display: flex;
            flex: 1;
            justify-content: flex-start;
            align-items: flex-start;

        }
        
        .navbar-logo-text{
            font-size: var(--header-logo-font-size);
            font-weight: var(--hero-main-text-font-weight);
            color: var(--header-logo-text-color);

        }
        
        .navbar ul {
            display: flex;
            list-style: none;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            margin-top:1rem;
        }
        
        .navbar ul li {
            margin-left: 1rem;
        }
        
        .navbar ul li a {
            color: var(--header-link-text-color);
            text-decoration: none;
            padding: 5px 10px;
        }
        
        .navbar ul li a:hover,nav a.nav-selected {
            background-color: var(--button-color);  
            border-radius: 5px;
        }

    /* Hero Section */
    
        .about-hero {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items:center;
            background-image: url(./assets/images/main.jpg);
            background-position: top center;
            background-repeat: no-repeat;
            margin-bottom:2rem;
        }

        .about-hero-content{
            display: flex;
            flex-direction: row;
            justify-content: left;
            align-items:center;
            height: 35rem;
            margin-bottom:5rem;
        }
        
        .about-hero-text {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            width:50%;
        }
        
        .about-hero-text h1 {
            font-size: var(--hero-main-text-font-size);
            font-weight: var(--hero-main-text-font-weight);
            color: var(--about-hero-main-text-color);
            margin-bottom:0.5rem;
        }
        
        .about-hero-text p {
            font-size: var(--hero-secondary-text);
            color: var(--about-hero-secondary-text-color);
            margin-bottom:0.5rem;
        }
        
        .hero-img {
            width:50%;
        
        }
        
        .hero-img img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        
        }
  
        .hero-btn {
            margin-top: 0.5rem;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            border-color: transparent;
            background-color: var(--button-color);
            border-radius: 10px;
            color: var(--hero-main-text-color);
            width: 8rem;
            height: 2.5rem;
            font-weight: 700;
        }

        .hero-btn:hover{
            background-color: var(--hero-main-text-color);
            border-color: var(--button-color);
            border-style: solid;
            color: var(--button-color);
        }



/* Values Section */

        h2{
            margin-bottom:3rem;
            
        }


        .values-section{
            display:flex;
            flex-direction:row;
            justify-content:center;
            align-items:center;
            margin:0 auto;
            margin-bottom:2rem;
            max-width:100%;
        }

        .values-text{
            display: flex;
            flex-direction: column;
            padding-right: 1rem;
            justify-content: center;
            align-items: flex-start;
            width:30%;
        }
        .values-text a {
            text-decoration: none;
        }
        
        .values-img img{
            width: 80%;
            height: 80%;
            object-fit: cover;
        }

          

    /* Innovation Section */

    .innovation-section{
        display:flex;
        flex-direction:row;
        justify-content:left;
        align-items:center;
        max-width:100%;
        min-height:30rem;
        margin-bottom:2rem;
        margin-left:36%;
    }

    .innovation-img {
        
        float: left;
    
    }
    .innovation-img img{
        width: 80%;
        height: 80%;
        float: left;
        object-fit: cover;
    }  
    .innovation-text{
        width:30rem;
    }

    /* Ad Section */

    .ad-section {
        width:43%;
        justify-content:center;
        align-items: center;
        min-height: 2rem;
        background-color: #a9dce2;
        background-image: url(./assets/images/ad.jpg);
        background-position: center center;
        margin-bottom: 2rem;
        background-repeat: no-repeat;
        opacity: 0.9;
    }
    .ad-text h2{
        margin: 0px 0px 2px;
        padding-top: 25rem;
        font-size: var(--hero-main-text-font-size);
        text-align: center;
        justify-content: ends;
        color: var(--about-hero-main-text-color);
    }
/* Testimonial Section */
        .partners{
            display:flex;
            flex-direction:column;
            justify-content:center;
            align-items:center;
            background-color: var(--quote-section-bg-color);
            min-height:17rem;
            max-width:100%;
            margin-bottom:2rem;
        }

        .partners-content{
            padding-top: 2rem;
            display:flex;
            flex-direction:column;
            justify-content:center;
            align-items:center;
        }
       

        .partners-img {
            display:flex;
            flex-direction:row;
            justify-content:space-around;
            align-items:center;
        }
        .partners-img img{
            width:40%;
            height: 40%;
        }
        .partners-img a{
            min-width: 3rem;
            max-width: 15rem;
        }


        .footer{
            display:flex;
            flex-direction:row;
            justify-content:center;
            align-items:center;
            margin:0 auto;
            background-color:var(--dark-bg-color);
            color: var(--header-link-text-color);
            max-width:100%;
            min-height:100%;
            padding: 2rem;
        }
        

       

        

